
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  background: #E5E5E5;
  font-size: 14px;
}

.btn {
  padding: 5px 8px;
  border-radius: 4px;
  font-size: 13px;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

.text-primary {
  color: #589CDA !important;
}

.text-gray {
  color: #919090;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/* Resume */

.resume-section {
  padding: 30px 0;
}

.resume-section .card {
  border-radius: 0;
  border: none;
}

.resume-section .card-body {
  padding: 50px 40px;
}

.resume-section .card-body p {
  margin-bottom: 30px;
}

.resume-section .card-body h6 {
  font-weight: 600;
}

.resume-section .card-body .date {
  color: #333333;
  opacity: 0.5;
}

.resume-section .card-body ul li {
  padding: 3px 0;
}

.resume-section .main-heading {
  font-size: 38px;
  text-align: center;
  margin-bottom: 0px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.resume-section .sub-heading {
  font-size: 18px;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  margin-top: 40px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.resume-section .sub-heading:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #1B1A1A;
  left: 0;
  top: 50%;
  position: absolute;
}

.resume-section .sub-heading span {
  position: relative;
  background: #fff;
  padding: 0 15px;
  z-index: 99;
}


/* Left Sidebar */

.resume-left-sidebar {
  background: #589CDA;
  height: 100%;
  padding: 25px;
  color: #fff;
}

.resume-left-sidebar .profile-picture {
  text-align: center;
  margin-bottom: 30px;
}

.resume-left-sidebar .profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
}

.resume-left-sidebar ul li {
  padding: 8px 0;
  font-size: 12px;
}

.resume-left-sidebar .language-block li {
  padding: 5px 0;
}

.resume-left-sidebar .btn-light {
  background: #F2F2F2 !important;
  color: #000;
  border-radius: 4px;
  min-width: 85px;
}

.resume-left-sidebar .btn-light:hover {
  background: #fff !important;
  color: #589CDA;
}

.resume-section .resume-left-sidebar .sub-heading:after {
  background: #fff;
}

.resume-section .resume-left-sidebar .sub-heading span {
  background: #589CDA;
}

.skill-block .square-box {
  background: #FFFFFF;
  width: 40px;
  height: 12px;
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 6px;
}

.skill-block .square-box.square-1 {
  opacity: 0.3;
}

.skill-block .square-box.square-2 {
  opacity: 0.5;
}

.skill-block .square-box.square-3 {
  opacity: 0.7;
}

.skill-block p {
  margin-bottom: 5px;
  font-size: 12px;
}


/* Media Query */

@media (min-width: 1200px) {
  .resume-section .container {
    max-width: 1050px;
  }
}

@media (max-width: 767px) {
  .resume-section .main-heading {
    font-size: 28px;
  }
}

@media (max-width: 575px) {
  .resume-section .card-body p {
    font-size: 13px;
  }
  .resume-section .card-body .date {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
  }
  .resume-section .card-body h6 {
    margin-bottom: 5px;
  }
  .resume-section .card-body {
    padding: 40px 20px;
  }
  .resume-left-sidebar {
    padding: 25px 20px;
  }
}